* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1d191c;
  height: 100vh;
}

header{
  display: flex;
  padding: 48px 48px 0px 48px;
  align-items: center;
  justify-content: space-between;
  /* background-color: #1d191c; */
  backdrop-filter: blur(10px);

  position: fixed;
  width: 100%;
  height: 20%;
}

button {
  background-color: transparent;
  padding: 16px 24px;
  color: #FECDD3;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;

  border: 1px solid #FB7185;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 12px;
}

button:hover {
  background-color: #FDA4AF;
  color:#E11D48;
  border: #FDA4AF;
  cursor: pointer;
}

#form-habits {
  display: flex;
  padding: 182px 48px 48px;
  width: fit-content;
}

.habits {
  display: flex;
  flex-direction: column;
  gap: 9.5px;
  margin-top: 64px;
  position: fixed;
  left: 0;
  backdrop-filter: blur(10px);
}

.habit {
  width: 64px;
  height: 64px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  margin-left: 15px;
  gap:48px;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.day div{
  margin-bottom: 18px;

  font-family: 'Roboto Mono';
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  color: #FECDD3;
}

input {
  width: 45px;
  height: 45px;
   appearance: none;
  -webkit-appearance: none;
  background:#2b232a;
  border: 2px solid #FDA4AF;
  border-radius: 8px;
  align-self: center;
}

input:hover{
  cursor: pointer;
  background-color: #FECDD3;
}

/* pseudo-selector */
input:checked{
  background: #E11D48;
  border: 2px solid #FDA4AF;
}

@media (max-width:570px){
  button div{
    display: none;
  }
}